# CODESYS Control Configuration File
# This is a sample configuration - adjust according to your needs

[CmpSettings]
Linux.Devicefile=/dev/null

[SysFile]
FilePath.1=/etc/, 3S.dat
PlcLogicPrefix=1

[CmpLog]
Logger.0.Name=SysOut
Logger.0.Filter=0x0000000F
Logger.0.Enable=1
Logger.0.MaxEntries=1000
Logger.0.Backend.0.ClassId=0x0000100B
Logger.0.Type=0x00000104

[CmpApp]
Application.1=Application

[ComponentManager]
Component.1=CmpAlarmManager
Component.2=CmpApp
Component.3=CmpBlkDrvCom
Component.4=CmpBlkDrvShm
Component.5=CmpBlkDrvTcp
Component.6=CmpBlkDrvUdp
Component.7=CmpCAABehaviourModel
Component.8=CmpCAACallback
Component.9=CmpCAACanL2
Component.10=CmpCAADTUtil
Component.11=CmpCAAFile
Component.12=CmpCAAMemBlockMan
Component.13=CmpCAANetBaseServices
Component.14=CmpCAARealTimeClock
Component.15=CmpCAASdoClient
Component.16=CmpCAASdoServer
Component.17=CmpCAASegBufferMan
Component.18=CmpCAASerialCom
Component.19=CmpCAAStorage
Component.20=CmpCAATick
Component.21=CmpCAATimer
Component.22=CmpCAATypes
Component.23=CmpChannelClient
Component.24=CmpChannelMgr
Component.25=CmpChannelServer
Component.26=CmpChecksum
Component.27=CmpCodeMeter
Component.28=CmpCommunicationLib
Component.29=CmpCoreDump
Component.30=CmpCryptMD5
Component.31=CmpDevice
Component.32=CmpDynamicText
Component.33=CmpEventMgr
Component.34=CmpFileTransfer
Component.35=CmpIecStringUtils
Component.36=CmpIecTask
Component.37=CmpIecVarAccess
Component.38=CmpIoDrvIec
Component.39=CmpIoMgr
Component.40=CmpLinuxInterrupt
Component.41=CmpLinuxRTTimer
Component.42=CmpLog
Component.43=CmpMemPool
Component.44=CmpMonitor2
Component.45=CmpNameServiceClient
Component.46=CmpNameServiceServer
Component.47=CmpOPCUAClient
Component.48=CmpOPCUAProviderIecVarAccess
Component.49=CmpOPCUAServer
Component.50=CmpOPCUAStack
Component.51=CmpOpenSSL
Component.52=CmpRetain
Component.53=CmpRouter
Component.54=CmpSchedule
Component.55=CmpSecureChannel
Component.56=CmpSecurityManager
Component.57=CmpSessionInformation
Component.58=CmpSettings
Component.59=CmpSrv
Component.60=CmpTargetVisu
Component.61=CmpUserMgr
Component.62=CmpUserObjects
Component.63=CmpVisuHandler
Component.64=CmpVisuServer
Component.65=SysDir
Component.66=SysEthernet
Component.67=SysEvent
Component.68=SysFile
Component.69=SysFileStream
Component.70=SysInt
Component.71=SysInternalLib
Component.72=SysMem
Component.73=SysModule
Component.74=SysMsgQ
Component.75=SysMutex
Component.76=SysOut
Component.77=SysPort
Component.78=SysProcess
Component.79=SysSem
Component.80=SysSemCount
Component.81=SysShm
Component.82=SysSocket
Component.83=SysTarget
Component.84=SysTask
Component.85=SysTime
Component.86=SysTimeRtc
Component.87=SysTimer
Component.88=SysWindow
